/* Basic */
.link {
	width: 60%;
	padding: 10px;
	font-size: 135%;
	color: slategray;
	font-weight: bold;
	text-align: center;
	border: 3px solid green;
	text-transform: uppercase;
}
.center {
	text-align: center;
}
#zero-margin {
	margin: 0px;
}

.error {
	color: red;
	font-style: italic;
}

div.uppercase {
	text-transform: uppercase;
}
div.lowercase {
	text-transform: lowercase;
}

p.thick {
	font-weight: bold;
	font-size: large;
}
.stack {
	display: inline-block;
	vertical-align: top;
	margin: 0px;
}

p.overline {
	text-decoration: overline;
}

div.highlight-green {
	padding: 5px;
	background-color: #8de390;
	border: 2px solid #4CAF50;
}

/* Format Text */
.bold {
	font-weight: bold;
}
.italicize {
	font-style: italic;
}
.underline {
	text-decoration: underline;
}
.strikethrough {
	text-decoration: line-through;
}

/* All Pages */
.white-box {
	background-color: #ffffff;
	font-size: 16.5px;
	color: #343434;
	font-family: 'noto sans', sans-serif;
	padding: 20px;
	margin: 50px 140px;
}
.footer {
	color: #707070;
	font-size: 18px;
	background-color: #161616;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
	padding: 30px;
}
.site-footer {
	color: #4d4d4d;
	font-size: 20px;
	background-color: #0A0A0A;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
	padding: 15px;
}
body {
	background-color: #efefef;
}

/* Fonts */
.times-new-roman {
	font-family: "Times New Roman", Times, serif;
}
.arial {
	font-family: Arial, Helvetica, sans-serif;
}

/* Homepage */ 
#header {
	color: white;
	text-align: center;
	font-family: 'JelleeRoman';
	font-weight: normal;
	font-style: normal;
	font-size: 120px;
}
#banner {
	background-image:url('http://localhost:8037/background');
	zoom: 0.55;
	background-size: cover;
	overflow: hidden;
}

/* Navigation Bar */ 
div.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	padding: 3px;
	background-color: #2e2e2e;
	border: 2px solid #2e2e2e;
	font-family: 'Cabin', sans-serif;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}
li {
	float: left;
}
li a {
	display: block;
	color: white;
	text-align: center;
	font-size: 18px;
	padding: 13px 15px;
	text-decoration: none;
}
li a:hover:not(.active) {
	background-color: #383838;
}
.active {
	background-color: #4CAF50;
}
