.link{
  font-size: 135%;
  color: slategray;
  text-align: center;
  border: 3px solid green;
  text-transform: uppercase;
}

.center{
  text-align: center;
}

.error{
  color: red;
  font-style: italic;
}
